<!DOCTYPE html>
<%- include('partials/header') %>

<div id ="profile-container">
        <div id="profile-header">
            <h1>User Profile</h1>
        </div>

<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
<div id="user-info">
    <p id="username"><%= username %></p>
    <p id="email"><%= email %></p>
    <p id="firstName"><%= firstName %></p>
    <p id="lastName"><%= lastName %></p>
    <button id="update-profile" type="button">Edit Profile</button>
</div>

<div id="edit-user-info" style="display: none;">
    <input type="text" id="edit-username" value="<%= username %>">
    <input type="text" id="edit-email" value="<%= email %>">
    <input type="text" id="edit-firstName" value="<%= firstName %>">
    <input type="text" id="edit-lastName" value="<%= lastName %>">
    <input type="password" id="edit-password" placeholder="Enter new password">
    <button id="save-changes" type="button">Save Changes</button>
</div>

<%- include('partials/footer') %>

<script src= "scripts/updateProfile.js"></script>
<script>
    document .getElementById('update-profile').addEventListener('click', function() {
        document.getElementById('user-info').style.display = 'none';
        document.getElementById('edit-user-info').style.display = 'block';
    });

    document.getElementById('save-changes').addEventListener('click', function() {
        var username = document.getElementById('edit-username').value;
        var email = document.getElementById('edit-email').value;
        var firstName = document.getElementById('edit-firstName').value;
        var lastName = document.getElementById('edit-lastName').value;
        var password = document.getElementById('edit-password').value;
        console.log(username, email, firstName, lastName, password);

        updateProfile("/profile", firstName, lastName, email, password, username)
            .then(response => {
                console.log(response);
                if (response.status === 200) {
                    window.location.href = "/profile";
                }
            });
    });
</script>
</html>