<h1>Profile</h1>
<%- include('partials/header') %>
<div>
    <h2><%= username %></h2>
    <p><%= email %></p>
    <p><%= firstName %></p>
    <p><%= lastName %></p>
</div>
<%- include('partials/footer') %>
